// Used for themeing, custom variables and fonts
$east-bay:#475792;
$polo-blue:#95A7D7;
$white-lilac:#EAEEF7;
$mirage:#202740;
$theme-colors: ( "eastbay": $east-bay, "polo": $polo-blue, "lilac": $white-lilac, "mirage": $mirage, "black": black, "white": white);