header {
    .title {
        position: relative;
        top: 50%;
    } // Header Classes
    .nav {
        li {
            a {
                display: block;
                color: black;
                text-decoration: none;
                padding: 0.5rem 2rem;
                text-transform: uppercase;
            }
        }
    }
    ul.nav>li {
        border-right: 1px solid #475d88;
    }
    ul.nav>li:last-child {
        border-right: none;
    }
    a.text-dark:hover,
    a.text-dark:focus {
        color: $east-bay !important;
    }

        
    @media (min-width: 375px) and (max-width:800px) {
        ul.nav > li {
            border-right: none;
        }
    }
}